<div class="profile-wrap">
  <div class="d-flex flex-column align-items-center">
    <div class="row">
      <div class="col-10">
        <div class="row profile-result">
          <div class="col-md-12 text-center">           
            <div>
              <p class="text-right"><strong><%= Time.zone.today.strftime("%Y年%m月%d日") %>時点</strong></p>
            </div>
            <table class="table table-bordered">
              <thead class="table-warning">
                <tr>
                  <th colspan="3" class="table-title">今月のユーザーランキング</th>
                </tr>
              </thead>
              <thead class="table-secondary">
                <tr>
                  <th scope="row">順位</th>
                  <th scope="row">ユーザー名</th>
                  <th scope="row">損益合計</th>
                </tr>
              </thead>
              <tbody>
              <% @users.each_with_index do |user, index| %>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= user.name %></td>
                  <% if user.monthly_profit < 0 %>
                    <td style="color: red;"><%= number_to_currency(user.monthly_profit, :locale => 'jp') %></td>
                  <% else %>
                    <td style="color: blue;"><%= number_to_currency(user.monthly_profit, :locale => 'jp') %></td>
                  <% end %>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>    
        </div>
      </div>
    </div>
  </div>
</div>
