<div class="profile-wrap">
  <div class="d-flex flex-column align-items-center">
    <div class="row profile-top">
      <div class="col-md-4 text-center">
        <%= image_tag avatar_url(@user), class: "round-img" %>
      </div>
      <div class="col-md-8">
        <div class="row">
          <h2><%= @user.name %></h2>
          <% if @user = current_user %>
            <%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn btn-outline-dark common-btn edit-profile-btn" %>
            <button type="button" class="setting" data-toggle="modal" data-target="#exampleModal"></button>
          <% end %>

          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">設定</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="list-group text-center">
                  <%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: "list-group-item list-group-item-action" %>
                  <%= link_to "キャンセル", "#", class: "list-group-item list-group-item-action", "data-dismiss": "modal" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% if @user == current_user %>
          <div class="row">
            <p>
              <%= @user.email %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  
    <div class="row profile-result">
      <div class="col-md-12 text-center">
        <table class="table table-bordered">
          <thead class="table-success">
            <tr>
              <th colspan="2" class="table-title">損益状況</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">今日の損益</th>
              <% if @day_profit < 0 %>
                <td style="color: red;"><%= sprintf("%+d",@day_profit).to_s.reverse.gsub( /(\d{3})(?=\d)/, '\1,').reverse %></td>
              <% else %>
                <td style="color: blue;"><%= sprintf("%+d",@day_profit).to_s.reverse.gsub( /(\d{3})(?=\d)/, '\1,').reverse %></td>
              <% end %>
            </tr>
            <tr>
              <th scope="row">今週の損益</th>
              <% if @week_profit < 0 %>
                <td style="color: red;"><%= sprintf("%+d",@week_profit).to_s.reverse.gsub( /(\d{3})(?=\d)/, '\1,').reverse %></td>
              <% else %>
                <td style="color: blue;"><%= sprintf("%+d",@week_profit).to_s.reverse.gsub( /(\d{3})(?=\d)/, '\1,').reverse %></td>
              <% end %>
            </tr>
            <tr>
              <th scope="row">今月の損益</th>
              <% if @month_profit < 0 %>
                <td style="color: red;"><%= sprintf("%+d",@month_profit).to_s.reverse.gsub( /(\d{3})(?=\d)/, '\1,').reverse %></td>
              <% else %>
                <td style="color: blue;"><%= sprintf("%+d",@month_profit).to_s.reverse.gsub( /(\d{3})(?=\d)/, '\1,').reverse %></td>
              <% end %> 
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

