<% @posts.each do |post| %>
  <div class="col-10 mx-auto ">
    <div class="card-wrap my-4">
      <div class="card">
        <div class="card-header align-items-center d-flex">
          <%= link_to user_path(post.user), class: "black-color no-text-decoration",
            title: post.user.name do %>
            <strong><%= post.user.name %></strong>
          <% end %>
          <h5 class="my-0 pl-3"><%= post.traded_at.strftime('%Y年%m月%d日') %></h5>
          <h5 class="my-0 pl-1">取引結果</h5>
          <% if post.user_id == current_user.id %>
            <ul class="post-nav ml-auto">
              <li>
                <%= link_to edit_post_path(post), class: "btn btn-info ml-2 " do %>
                  編集
                <% end %>
              </li>
              <li>
                <%= link_to post_path(post), method: :delete, class: "ml-2 px-2" do %>
                  <div class="delete-post-icon">
                  </div>
                <% end %>
              </li>
            </ul>
          <% end %>
        </div>
        <div class="card-body">
          <div class="row">
          <% if post.stock_name.present? %>
            <div class="col-2 ">
              <p class="font-weight-bold"><%= post.trade %></p>
            </div>
            <div class="col-2 ">
              <p><%= post.stock_code %></p>
            </div>
            <div class="col-2">
              <p><%= post.stock_name %></p>
            </div>
            <div class="col-2 text-right">
              <p>損益</p>
            </div>
            <div class="col-4">
              <% if post.profit < 0 %>
                <p style="color: red;"><%= number_to_currency(post.profit, :locale => 'jp') %></p>
              <% else %>
                <p style="color: blue;"><%= number_to_currency(post.profit, :locale => 'jp') %></p>
              <% end %>
            </div>
          <% elsif post.currency.present? %>
            <div class="col-3 ">
              <p class="font-weight-bold"><%= post.trade %></p>
            </div>
            <div class="col-3 ">
              <p><%= post.currency %></p>
            </div>
            <div class="col-2 text-right">
              <p>損益</p>
            </div>
            <div class="col-4">
              <% if post.profit < 0 %>
                <p style="color: red;"><%= number_to_currency(post.profit, :locale => 'jp') %></p>
              <% else %>
                <p style="color: blue;"><%= number_to_currency(post.profit, :locale => 'jp') %></p>
              <% end %>
            </div>
          <% elsif post.stock_index.present? %>
            <div class="col-3 ">
              <p class="font-weight-bold"><%= post.trade %></p>
            </div>
            <div class="col-3 ">
              <p><%= post.stock_index %></p>
            </div>
            <div class="col-2 text-right">
              <p>損益</p>
            </div>
            <div class="col-4">
              <% if post.profit < 0 %>
                <p style="color: red;"><%= number_to_currency(post.profit, :locale => 'jp') %></p>
              <% else %>
                <p style="color: blue;"><%= number_to_currency(post.profit, :locale => 'jp') %></p>
              <% end %>
            </div>
          <% else %>
            <div class="col-6 ">
              <p class="font-weight-bold"><%= post.trade %></p>
            </div>
            <div class="col-2 text-right">
              <p>損益</p>
            </div>
            <div class="col-4">
              <% if post.profit < 0 %>
                <p style="color: red;"><%= number_to_currency(post.profit, :locale => 'jp') %></p>
              <% else %>
                <p style="color: blue;"><%= number_to_currency(post.profit, :locale => 'jp') %></p>
              <% end %>
            </div>
          <% end %>  
          </div>
          <h6 class="text-primary">メモ</h6>
          <div class="row">
            <div class="col">
              <p><%= post.memo %></p>
            </div>
          </div>
          <% if post.photos.present? %>
            <%= image_tag post.photos.first.image.url(:medium), class: "card-img-top" %>  
          <% end %>
          <div>
            <div id="comment-post-<%= post.id.to_s %>">
              <%= render 'comment_list', { post: post } %>
            </div>
            <%= link_to time_ago_in_words(post.created_at).upcase + "前", post_path(post),
              class: "light-color post-time no-text-decoration" %>
            <hr>
            <div class="row actions" id="comment-form-post-<%= post.id.to_s %>">
              <%= form_with model: [post, Comment.new], class: "w-100" do |f| %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :post_id, value: post.id %>
                <%= f.text_field :comment, class: "form-control comment-input border-0", placeholder: "コメント ...", autocomplete: :off %>
              <% end %>
            </div> 
          </div>
        </div>      
      </div>
    </div>
  </div>
<% end %>
<%= paginate @posts %>
