<div class="d-flex flex-column align-items-center mt-3">
  <div class="col-xl-7 col-lg-8 col-md-10 col-sm-11 post-card">
    <div class="card">
      <div class="card-header">
        <h4>投稿画面</h4>  
      </div>
      <div class="card-body">
        <div class="card-text text-center mb-5">
          <h5>取引明細</h5>
        </div>
        <%= form_with model: @post, local: true do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
          <div class="form-group row mt-2">
            <div class="col">
              <%= f.label :日時, class: "form-label"  %>
              <%= f.date_field :traded_at, class: "form-control" %>
            </div>
          </div>
          <div class="form-group row mt-2">
            <div class="col">
              <%= f.label :トレード, class: "form-label" %>
              <%= f.select :trade, [["株式", "株式）"], ["外国為替", "外国為替）"], ["株価指数", "株価指数）"]], include_blank: "選択して下さい" , class: "form-select" %>
            </div>
          </div>
          <div class="form-group row mt-2">
            <div class="col">
              <%= f.label :株）コード, class: "form-label"  %>
              <%= f.text_field :stock_code, placeholder: "1357", class: "form-control" %>
            </div>
          </div>
          <div class="form-group row mt-2">
            <div class="col">
              <%= f.label :株）銘柄【６文字以内】, class: "form-label"  %>
              <%= f.text_field :stock_name, placeholder: "ハードバンク", class: "form-control" %>
            </div>
          </div>
          <div class="form-group row mt-2">
            <div class="col">
              <%= f.label :FX）通貨, class: "form-label" %>
              <%= f.select :currency, [["FXではない", ""], ["ドル円", "ドル円"], ["ポンド円", "ポンド円"], ["ユーロ円", "ユーロ円"], ["豪ドル円", "豪ドル円"]], include_blank: "選択して下さい", class: "form-select" %>
            </div>
          </div>
          <div class="form-group row mt-2">
            <div class="col">
              <%= f.label :指数先物）指数, class: "form-label" %>
              <%= f.select :stock_index, [["指数先物ではない", ""], ["日経平均", "日経平均"], ["DOW", "DOW"], ["S&P", "S&P"], ["NASDAQ", "NASDAQ"]], include_blank: "選択して下さい", class: "form-select" %>
            </div>
          </div>
          <div class="form-group row mt-2">
            <div class="col">
              <%= f.label :損益, class: "form-label"  %>
              <%= f.text_field :profit, placeholder: "13500", class: "form-control" %>
            </div>
          </div>
          <div class="form-group row mt-2">
            <div class="col">
              <%= f.label :メモ, class: "form-label"  %>
              <%= f.text_area :memo, placeholder: "ワンナイトスイング", class: "form-control" %>
            </div>
          </div>
          <div class="form-group row mt-2">
            <div class="col">
              <i class="fa-solid fa-camera"></i>
              <%= f.fields_for :photos do |i| %>
                <%= i.file_field :image, class: "form-control-file" %>
              <% end %>
            </div>
          </div>
          <%= f.submit "投稿", class: "btn btn-primary" %>

        <% end %>
      </div>
    </div>
  </div>
</div>   
